.MuiCardMedia-img {
    object-fit: contain !important;

    
}

.MuiPaper-root {
    border: none;
    box-shadow:2px 13px 18px -2px rgba(0,0,0,0.07) !important ;
}

.MuiPaper-root:hover {
    scale: 0.2 !important;
    box-shadow: 2px 13px 18px -2px rgba(0,0,0,0.55) !important ;
    -webkit-box-shadow: 2px 13px 18px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 13px 18px -2px rgba(0,0,0,0.55);
   
  
}

// card element 
.addToCartBtn {
    height: 100%;
    align-items: flex-end;
    bottom: -519px !important;
    /* top: 20px; */
    position: relative;
    text-align: center;
}
.successBtn {
    background-color: #BD4C39 !important;
    color: white !important;
    margin-right: 20px;
}
.MuiGrid-grid-lg-4 {
    max-width: none !important;
}
.cartBtn {
    margin-right:20px !important
}
.gridFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.continueBtn {
    background-color: blanchedalmond !important;
}